{
	"presets": [
		"@babel/env",
		"@babel/typescript"
	],
	"plugins": [
		"@babel/proposal-class-properties",
		"@babel/plugin-transform-object-assign",
		"@babel/plugin-transform-classes",
		"@babel/plugin-transform-duplicate-named-capturing-groups-regex"
	]
}